{% assign current_variant = product.selected_or_first_available_variant %}
{% assign current_stock = current_variant.inventory_quantity %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
<img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
{% for image in product.images %}
  <a href="{{ image.src | img_url: 'large' }}">
    <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
  </a>
{% endfor %}
<h1>{{ product.title }}</h1>
<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
  <select name="id" id="productSelect">
    {% for variant in product.variants %}
      {% if variant.available %}
        <option value="{{ variant.id }}">
          {{ variant.title }} - {{ variant.price | money_with_currency }}
        </option>
      {% else %}
        <option disabled="disabled">
          {{ variant.title }} - sold out
        </option>
      {% endif %}
    {% endfor %}
  </select>
  {{ current_variant.price | money }}
  <label for="Quantity">quantity</label>
  <input type="number" id="Quantity" name="quantity" value="1" min="1">

  {% comment %}
    Assigns appropriate colour CSS class and text input to the product depending on
    current availability.
  {% endcomment %}

  {% if current_variant.available %}
    {% assign submit-color='in-stock' %}
    {% if current_stock >= 5 %}
      {% assign submit-text='Add to cart' %}
    {% else %}
      {% assign submit-text='Low stock' %}
    {% endif %}
  {% else %}
    {% assign submit-color='no-stock' %}
    {% assign submit-text='No stock' %}
  {% endif %}

  <button type="submit" class={{submit-color}} name="add" id="AddToCart" onclick="addToCart('AddToCartForm'); return false;">
    {{ submit-text }}
  </button>
</form>
<div>{{ product.description }}</div>

{% comment %}
  Shows a modal for your the current available stock of the item as well as detailed
  information about your cart.
{% endcomment %}

<div class="modal" id="product-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Item Current Stock: {{ current_variant.inventory_quantity }}</p>
        <p>Current Items in Cart: {{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }} ({{ cart.total_price | money }})</p>
        <p>List of Items in Cart:<p>
        <ul>
          {% for item in cart.items %}
            <li>{{ item.title }} x {{ item.quantity }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% comment %}
  Script to load the modal automatically upon page load
{% endcomment %}

<script>
   $(window).on('load',function(){
        $('#product-modal').modal('show');
    });
</script>
